<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="container">
        <!-- Welcome Message -->
        <% if (user) { %>
            <div class="text-center mt-5">
                <h1>Welcome, <%= user.firstName %> <%= user.lastName %>!</h1>
                <p>
                    You were last online on 
                    <% if (user.lastLogin) { %>
                        <script>
                            const formatDate = (timestamp) => {
                                const date = new Date('<%= user.lastLogin %>');
                                const options = { weekday: 'long', day: '2-digit', month: '2-digit', year: 'numeric' };
                                document.write(new Intl.DateTimeFormat('en-GB', options).format(date));
                            };
                            formatDate();
                        </script>
                    <% } %>
                </p>
            </div>
        <% } %>


        <div>
            <h1>Slop Shop</h1>
            <h3>The #1 place to buy Slop</h3>
        </div>
    <script src="/js/index.js"></script>
</body>
</html>
