<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="./css/register.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>
<body>
    <div class="back">
        <a href="/">< Back to home</a>
    </div>
    <div class="container">
        <div class="login-box">
            <h2>Log in</h2>
            <p id="error"><%=error%></p>
            <form action="/login" method="post" id="loginForm">
                <input id="email" type="email" name="email" placeholder="E-mail">
                <input id ="password" type="password" name="password" placeholder="Password">

                <input type="submit" value="Login">
            </form>
        </div>
        <p class="link">Don't have an account? <a href="/register">Sign up</a></p>
    </div>
    <script src="./js/login.js"></script>
</body>
</html>