<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/register.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <title>Set password</title>
</head>
<body>
    <div class="back">
        <a href="/">< Back to home</a>
    </div>
    <div class="container">
        <div class="login-box">
            <h2>Set password</h2>
            <p id="message"></p>
            <form action="/set-password" method="POST" id="loginForm">
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Set password">
            </form>
        </div>
    </div>
    <script src="./js/setPassword.js"></script>
</body>
</html>