body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.items {
    margin-bottom: 20px;
}

.item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item p {
    margin: 5px 0;
}

.item-total-price {
    font-weight: bold;
    color: #333;
}

.subtotal, .shipping-cost, .total-price {
    font-weight: bold;
    color: #333;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

form input[type="radio"] {
    margin-right: 10px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #401c93;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #333;
}

form a {
    color: #401c93;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}