nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #401c93;
    color: white;
    position: fixed; /* Fix the header at the top */
    top: 0; 
    left: 0; 
    z-index: 1000; /* Ensure it stays above other content */
    border-bottom: 2px solid black;
}

body {
    padding-top: 62px; /* Add padding to avoid content being hidden behind the fixed header */
}

nav a {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #dddddd;
}

.right {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a.cart-link {
    display: flex;
    align-items: center;
}

a.cart-link svg {
    margin-right: 5px; /* Adjust the spacing as needed */
    width: 30px;
    height: 30px;
}