.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    width: 25%;
    margin: 2vw;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 2px solid black;
}

.quantity-selector input{
    width: 40%;
    height: 30px;
    text-align: center;
    border: none;
    margin: 0;
}

.quantity-selector button{
    width: 30%;
    height: 30px;
    background-color: #401c93;
    color: white;
    border: none;
    margin: 0;
}

.add-to-cart {
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
    background: #401c93;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}
