*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
}

.back a{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.container{
    background-color: #401c93;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: #401c93;
    font-size: 3rem;
    font-weight: 800;
}

.login-box{
    width: 50vw;
    height: 70vh;
    padding: 20px;
    background-color: #f1f1f1;
    border: 4px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

input{
    width: 70%;
    height: 18%;
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.3rem;
}

input[type="submit"]{
    background-color: #401c93;
    color: white;
}

input[type="submit"]:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.link{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

a{
    color: #c7b2f9;
    font-size: 1.3rem;
}